@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

$primaryPale: hsl(225, 100%, 94%);
$primaryBright: hsl(245, 75%, 52%);
$neutralPale: hsl(225, 100%, 98%);
$neutralDesaturated: hsl(224, 23%, 55%);
$neutralDarkBlue: hsl(223, 47%, 23%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('/images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: $primaryPale;

    .card {
        width: 320px;
        height: 80vh;
        background-color: white;
        border: none;
        border-radius: 24px;
        overflow: hidden;
        box-shadow: 0 2px 18px -4px rgba(56, 41, 224, 0.5);


        .header {
            width: 100%;
            height: 160px;
            background-image: url('/images/illustration-hero.svg');
            background-size: cover;
            background-position: center;
        }

        .card-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10%;

            h2 {
                font-size: 20px;
                font-weight: 700;
                color: $neutralDarkBlue;
                margin-bottom: 16px;

            }
            p {
                font-size: 14px;
                font-size: 500;
                color: $neutralDesaturated;
                text-align: center;
                margin-bottom: 16px;
            }

            .detail {
                display: flex;
                align-items: center;
                width: 100%;
                height: auto;
                background-color: $neutralPale;
                border-radius: 12px;
                padding: 18px;
                margin-bottom: 16px;

                img {
                    width: 36px;
                }
                ul {
                    margin-left: 12px;
                    li[class="title"] {
                        list-style: none;
                        font-size: 14px;
                        font-weight: 700;
                        color: $neutralDarkBlue;
                        
                    }
                    li[class="price"] {
                        list-style: none;
                        font-size: 14px;
                        font-weight: 400;
                        color: $neutralDesaturated;
                    }
                }
                a {
                    font-size: 12px;
                    font-weight: 500;
                    color: $primaryBright;
                    margin-left: auto;

                    &:hover {
                        color: hsla(245, 75%, 52%, 0.8);
                        text-decoration: none;
                    }
                }
            }
            button {
                width: 100%;
                height: auto;
                border: none;
                border-radius: 8px;
                padding: 14px 0;
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: $primaryBright;
                cursor: pointer;
                margin-bottom: 16px;
                box-shadow: 0 4px 12px -2px rgba(56, 41, 224, 0.5);

                &:hover {
                    background-color: hsla(245, 75%, 52%, 0.8);
                }
            }

            .cancel {
                text-decoration: none;
                font-size: 12px;
                font-weight: 500;
                color: $neutralDesaturated;

                &:hover {
                    color: $neutralDarkBlue;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    section {
        background-image: url('/images/pattern-background-mobile.svg');

        .card {
            width: 320px;
            height: 80vh;
        }
    }
}